section.hero {
    min-height: calc(100dvh - 64px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    & .text {
        height: 100%;
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    & .desk {
        height: auto;
        width: 50%;
        aspect-ratio: 1/1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & canvas {
            display: block;
            width: 100%;
            height: 100%;
            aspect-ratio: 1/1;
        }
    }
}
