nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 32px;

    & ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style-type: none;
        gap: 64px;

        & a {
            font-size: 16px;
            color: var(--white);
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    & a {
        font-size: 20px;
        font-weight: 100;
        cursor: pointer;
        transition: 0.5s all;
        color: var(--primary);

        &:hover {
            color: var(--primary);
            text-decoration: none;
        }
    }

    & .icon {
        filter: invert(41%) sepia(62%) saturate(614%) hue-rotate(150deg) brightness(88%) contrast(82%);
    }
}