@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #111111;
    --foreground: #ffffff;
    --card: #1D1D1D;
    --card-foreground: #ffffff;
    --gray: #676666;
    --gray-foreground: #111111;
    --primary: #497349;
    --primary-foreground: #ffffff;
    --secondary: #92BEF8;
    --secondary-foreground: #111111;
}