@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #111111;
    --foreground: #ffffff;
    --card: #1D1D1D;
    --card-foreground: #ffffff;
    --gray: #676666;
    --gray-foreground: #111111;
    --primary: #497349;
    --primary-foreground: #ffffff;
    --secondary: #92BEF8;
    --secondary-foreground: #111111;
}