@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@import "./style/hero", "./style/projects", "./style/footer", "./style/nav", "./style/contact.scss";


:root {
    // --black: #282e2b; alternative
    --black: #202724;
    --white: #fafafa;
    --primary: #21b053;
    --primary-transparent: #203428;
    --primary-semi-transparent: #205E37;
    --gray: #8d8d8d;
    --error: rgb(253, 121, 121);


    --background: var(--black);
    --text: var(--white);
}

* {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: "Poppins", sans-serif;
    min-height: 100dvh;
    position: relative;
}

h1 {
    font-size: 72px;
    font-weight: 500;
    color: var(--primary);
    margin-bottom: 40px;
}

h2 {
    font-size: 32px;
    text-align: center;
    font-weight: 400;
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

h5 {
    font-size: 32px;
    font-weight: 100;
    margin: 0;
}

h6 {
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    color: var(--gray);
}

span {
    color: var(--primary);
    font-weight: 600;
    font-size: 20px;
}

section {
    margin: 8px 32px;
}

button.btn {
    min-width: 150px;
    height: 48px;
    width: 100px;
    border-radius: 8px;
    transition: 1s ease;

    &.secondary {
        border: 1px solid var(--primary);
        cursor: pointer;
        background-color: transparent;
        color: var(--primary);

        &:hover {
            border: 1px solid transparent;
            background-color: var(--primary);
            color: var(--white);
        }
    }

    &.primary {
        transition: 0.5s ease;
        border: none;
        cursor: pointer;
        background-color: var(--primary);
        color: var(--white);

        &:disabled {
            background-color: var(--primary-semi-transparent);
            color: var(--gray);
        }
    }
}

a {
    font-size: inherit;
    font-weigt: inherit;
    color: var(--primary);
    text-decoration: solid;
    transition: 0.5s all;

    &:hover {
        text-underline-offset: 3px;
        text-decoration: underline;
    }
}

input,
textarea,
.multiselect ul {
    background-color: var(--primary-transparent);
    border: 2px solid transparent;
    border-radius: 8px;
    color: var(--white);
    padding: 4px 8px;
}

input:active,
input:focus,
textarea:active,
textarea:focus {
    border: 2px solid var(--primary);
    outline: none;
}



input {
    height: 40px;
}

textarea {
    height: 200px;
    resize: vertical;
}

.icon {
    width: 28px;
    height: 28px;
}

// Selection
::-moz-selection {
    color: var(--white);
    background: var(--primary);
}

::selection {
    color: var(--black);
    background: var(--primary);
}

// Scrollbar
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--primary-semi-transparent);

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}

/* 
div.multiselect {

    & .options {
        background: var(--primary-semi-transparent) !important;

        & li {

            & button:hover,
            button.remove-all:hover,
            button:focus {
                color: red !important;
            }
        }
    }
} */