@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@import "./style/hero", "./style/projects", "./style/footer";


:root {
    --black: #212121;
    --white: #fafafa;
    --primary: #21b053;
    --primary-transparent: #21b05318;
    --gray: #8d8d8d;


    --background: var(--black);
    --text: var(--white);
}

* {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 72px;
    font-weight: 500;
    color: var(--primary);
    margin-bottom: 40px;
}

h2 {
    font-size: 32px;
    text-align: center;
    font-weight: 400;
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

h5 {
    font-size: 32px;
    font-weight: 100;
    margin: 0;
}

h6 {
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    color: var(--gray);
}

section {
    margin: 8px 32px;
}

button {
    min-width: 150px;
    height: 48px;
    width: 100px;
    border-radius: 8px;

    &.secondary {
        border: 1px solid var(--primary);
        cursor: pointer;
        background-color: transparent;
        color: var(--primary);
    }

    &.primary {
        border: none;
        cursor: pointer;
        background-color: var(--primary);
        color: var(--white);
    }
}

a {
    font-size: inherit;
    font-weigt: inherit;
    color: var(--primary);
    text-decoration: solid;
}

.icon {
    width: 32px;
    height: 32px;
}